@model ShopLyraAPP.Models.Supplier

@{
    ViewBag.Title = "AddOrUpdateSupplier";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<form action="/Supplier/AddOrUpdateSupplier" id="formData" method="post" class="show-xl" enctype="multipart/form-data">

    @if (Model == null)
    {
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Thêm nhà sản xuất mới</h5>
        </div>
    }
    else
    {
        if (Model.ID > 0)
        {
            @Html.HiddenFor(model => model.ID)
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Sửa thông tin nhà cung cấp @Model.Name</h5>

            </div>
        }
        else
        {
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Thêm nhà sản xuất mới</h5>
            </div>
        }
    }
    <div class="modal-body">

        <div class="form-group row">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md">
                @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


        <div class="form-group row">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group row">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md">
                        <input type="file" name="Image" onchange="loadImage(event)" />
                        <div id="images-group">
                            <div class="row no-gutters">
                                @if (Model != null)
                                {
                                    <div class="multiple-images-wrapper col-md-5">
                                        <img src="@Model.Location/@Model.Image" class="multipleImage img-thumbnail" />
                                        <a href="javascript:;" id="0" class="btn btn-outline-dark" onclick="delImage(@Model.ID)">
                                            <span>x</span>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group row">
                    @Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md">
                        <input type="file" name="Logo" onchange="loadLogo(event)" />
                        <div id="logo-group">
                            <div class="row no-gutters">
                                @if (Model != null)
                                {
                                    <div class="multiple-images-wrapper col-md-5">
                                        <img src="@Model.Location/@Model.Logo" class="multipleImage img-thumbnail" />
                                        <a href="javascript:;" id="1" class="btn btn-outline-dark" onclick="deleteLogo(@Model.ID)">
                                            <span>x</span>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        @if (Model == null)
        {
            <button type="submit" class="btn btn-success btn-block">
                <i class="far fa-plus mr-1"></i> Thêm mới
            </button>
        }
        else
        {
            if (Model.ID > 0)
            {
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="far fa-pen-square mr-1"></i> Lưu thay đổi
                </button>
            }
            else
            {
                <button type="submit" class="btn btn-success btn-block">
                    <i class="far fa-plus mr-1"></i> Thêm mới
                </button>
            }
        }
    </div>
</form>

<div class="row">
    <a href="/Supplier/Index" class="btn btn-outline-info"><i class="far fa-undo-alt mr-2"></i> Quay lại</a>
</div>
<style>
    #images-group img.multipleImage.img-thumbnail{
        width:100%;
        width:180px;
        object-fit:cover;
    }
</style>
@section scripts{
    <script>
        function loadImage(event) {
            var files = event.target.files;
            var acceptFileTypes = /^image\/(gif|jpe?g|png|svg)$/i;
            for (var i = 0; i < files.length; i++) {
                if (files[0]["type"].length && !acceptFileTypes.test(files[0]["type"])) {
                    alert("Chỉ chấp nhận định dạng jpeg, jpg, png, gif,svg");
                    return false;
                }
                if (files[0]["size"] > 4000000) {
                    alert("Dung lượng ảnh lớn hơn 4MB");
                    return false;
                }
                $("#images-group .row").html('<div class="multiple-images-wrapper col-md-5"><img src="' + URL.createObjectURL(event.target.files[0]) + '" class="multipleImage img-thumbnail" /><a href="javascript:;" id="0" class="btn btn-outline-dark" onclick="deleteImage(' + 0 + ')"><span>x</span></a></div>');
            }
        }
        function loadLogo(event) {
            var files = event.target.files;
            var acceptFileTypes = /^image\/(gif|jpe?g|png|svg)$/i;
            for (var i = 0; i < files.length; i++) {
                if (files[0]["type"].length && !acceptFileTypes.test(files[0]["type"])) {
                    alert("Chỉ chấp nhận định dạng jpeg, jpg, png, gif,svg");
                    return false;
                }
                if (files[0]["size"] > 4000000) {
                    alert("Dung lượng ảnh lớn hơn 4MB");
                    return false;
                }
                $("#logo-group .row").html('<div class="multiple-images-wrapper col-md-5"><img src="' + URL.createObjectURL(event.target.files[0]) + '" class="multipleImage img-thumbnail" /><a href="javascript:;" id="1" class="btn btn-outline-dark" onclick="deleteImage(' + 1 + ')"><span>x</span></a></div>');
            }
        }
        function deleteImage(divid) {
            if (confirm('Bạn có chắc xóa ảnh này?')) {
                $('#' + divid).parent().fadeOut().remove();
            }
        }

        function delImage(imgID) {
            if (confirm("bạn có chắc chắn muốn xóa ảnh này không?")) {
                $.ajax({
                    type: "post",
                    url: "/Supplier/DeleteImg",
                    data: { id: imgID },
                    success: function (res) {
                        if (res) {
                            alert("Xóa thành công");
                            $('#0').parent().fadeOut().remove();
                        }
                        else {
                            alert("Lỗi !");
                        }
                    },
                    error: function (er) {
                        alert(er);
                    }
                })
            }
        }
        function deleteLogo(imgID) {
            if (confirm("bạn có chắc chắn muốn xóa ảnh này không?")) {
                $.ajax({
                    type: "post",
                    url: "/Supplier/DeleteLogo",
                    data: { id: imgID },
                    success: function (res) {
                        if (res) {
                            alert("Xóa thành công");
                            $('#1').parent().fadeOut().remove();
                        }
                        else {
                            alert("Lỗi !");
                        }
                    },
                    error: function (er) {
                        alert(er);
                    }
                })
            }
        }
    </script>
}

